
*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rebeccapurple;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.btn{
    background-color: indigo;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 1.5rem 3rem;
    margin: 1rem;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.9;
}


.btn:focus{
    outline: none;
}